/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    color:#545454;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    font-size: 62.5%;
}

body {
    background:#F9F9F9;
	line-height: 1;
    font-family: "Pretendard";
    font-size: 1.6rem;
}
a{
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
button{
    background:none;
    border:none;
    cursor:pointer;
    padding:0;
    margin:0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing:border-box;
    outline:none;
}

/* --- css 기본 --- */

@font-face {
    font-family: "Pretendard";
    src: url('../fonts/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url('../fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url('../fonts/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "RalewayItalic";
    src: url('../fonts/Raleway-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Caveat";
    src: url('../fonts/Caveat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.letter_font {
    font-family: "Caveat";
    font-style: normal;
}

/* --- font --- */


/* 상단 */

header{
    width:100%;
    z-index:200;
}

header nav {
    width:100%;
    height:5vw;
    display:flex;
    align-items: center;
    top:0;
    position:fixed;
    background:#f9f9f9;
    z-index:100;
    justify-content: space-between;
    padding:0 5vw;
}

header nav a{
    color:#2F3031;
    transition: ease .3s;
}

header nav ul li a.active {
    color:#93C3DE;
}

header nav .logo_area a{
    font-family: "RalewayItalic";
    font-size:3rem;
    letter-spacing:-.01rem;
}

header nav .logo_area a svg {
    height:2.4rem;
    fill:#2F3031;
}

header nav .logo_area a:hover svg {
    animation: rotate_logo 7s linear infinite;
    -webkit-animation: rotate_logo 7s linear infinite;
    transform-origin: 50% 50%;
}

header nav .menu_area ul{
    display:flex;
    gap:6rem;
}

header nav .menu_area ul li a{
    font-family: "Raleway";
    font-size:2.7rem;
    letter-spacing: -.02rem;
    font-weight:500;
}

    
/* 인트로 */

main {
    padding:0 5vw;
}

.intro_wrap {
    padding-top:18rem;
}

.intro_wrap .intro_title {
    font-family: "Raleway";
    font-size:9vw;
    letter-spacing: -.07rem;
    line-height:0.9;
    font-weight:300;
    background-image: radial-gradient(circle farthest-corner at center center, #93C3DE 0%, #93C3DE 50%, transparent 50.1%);
    background-position: 50% 50%;
    -webkit-text-stroke-color: #93C3DE;
    -webkit-text-stroke-width: 0.01em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    animation: fill_text 2s forwards;
    -webkit-animation: fill_text 2s forwards;
  }

.intro_wrap .intro_title span {
    display:inline-block;
    color:#93C3DE;
}

.intro_wrap .intro_title .line {
    width:0;
    display: block;
    animation: line_move 1.5s ease 1.5s forwards;
    -webkit-animation: line_move 1.5s ease 1.5s forwards;
    height:2px;
    background: #93C3DE;
}

.intro_wrap .intro_box {
    display:flex;
    justify-content: space-between;
    margin-top:7rem;
}

.intro_wrap .intro_box .l_intro p{
    letter-spacing:-.1rem;
    color:#545454;
}

.intro_wrap .intro_box .l_intro .top_text{
    font-family: "raleway";
    font-size:3rem;
    margin-bottom:1rem;
}

.intro_wrap .intro_box .l_intro .letter_font{
    font-size:4rem;
}

.intro_wrap .intro_box .r_intro{
    text-align: right;
    padding-top:2.3rem;
}

.intro_wrap .intro_box .r_intro svg {
    width:3.5rem;
    margin-bottom:4.6rem;
}

.intro_wrap .intro_box .r_intro p, .intro_male_box p{
    font-size:2rem;
    line-height:1.6;
    color:#7A8188;
    letter-spacing:-.05rem;
    font-weight:400;
}

.intro_wrap .intro_male_box{
    margin-top:2.3rem;
}

/* 어바웃 상단 */

.about_wrap {
    padding-top:15rem;
}

.about_wrap .about_box{
    display:flex;
    align-items: baseline;
}

.about_wrap .about_box .l_about{
    flex-basis:60%;
    padding-right:5rem;
}

.about_wrap .letter_font {
    font-size:5vw;
    letter-spacing: -.1rem;
    color:#545454;
    margin-bottom:4vw;
    overflow: hidden;
}

.about_wrap .about_box .l_about p:last-child {
    margin-bottom:0;
}

.about_wrap .about_box .l_about p {
    font-size:2rem;
    letter-spacing: -.02rem;
    color:#7A8188;
    line-height:1.7;
    margin-bottom:5rem;
}

.about_wrap .about_box .r_about {
    position:relative;
    top:-12vw;
    flex-basis:40%;
}

.about_wrap .about_box .r_about .about_img01{
    position:absolute;
    left:0;
    width:16vw;
}

.about_wrap .about_box .r_about .about_img02{
    position:absolute;
    top:4vw;
    left:12vw;
    width:13vw;
    z-index:10;
}

.about_wrap .about_box .r_about .about_img03{
    position:absolute;
    right:0;
    width:12vw;
}

.about_wrap .about_box .r_about .about_img04{
    position:absolute;
    top:14vw;
    left:5vw;
    width:12vw;
}

.about_wrap .about_box .r_about .about_img05{
    position:absolute;
    top:18vw;
    right:2vw;
    width:13vw;
    z-index: 15;
}

/* 어바웃 하단 */

.bottom_about_box {
    padding-top:28rem;
    display:flex;
    gap:13rem;
}

.bottom_about_box .work_table {
    border-top:1px solid #7A8188;
    flex-basis:55%;
}

.bottom_about_box .work_table li{
    display:flex;
    border-bottom:1px solid #7A8188;
}

.bottom_about_box .work_table .work_intro {
    margin:4.5rem 5rem;
    flex-basis:77%;
    overflow: hidden;
}

.bottom_about_box .work_table .work_intro span{
    font-family: "raleway";
    font-size:2.4rem;
    color:#7A8188;
}

.bottom_about_box .work_table .work_intro p{
    margin-top:2.3rem;
}

.bottom_about_box .work_table .work_intro .title{
    font-family: "raleway";
    font-size:3rem;
    color:#66A1C1;
    font-weight: 500;
}

.bottom_about_box .work_table .work_intro .text{
    font-size:2.2rem;
    font-weight: 400;
    letter-spacing:-.03rem;
    line-height:1.6;
}

.bottom_about_box .work_table {
    overflow:hidden;
}

.bottom_about_box .work_table > li a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left:1px solid #7A8188;
    flex-basis:23%;
    visibility: hidden;
    transition: ease .3s;
}

.bottom_about_box .work_table > li:hover a{
	animation: slideRight 0.7s;
	-webkit-animation: slideRight 0.7s;
	visibility: visible;
}

.bottom_about_box .work_table > li a div{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_about_box .work_table > li a div svg {
    width:6.5rem;
}

.bottom_about_box .work_table > li a:hover svg path{
    stroke:#66A1C1 !important;
}

.bottom_about_box .r_what .sticky_area {
    position:sticky;
    overflow:hidden;
    top:8vw;
}

.bottom_about_box .r_what .r_what_top {
    width:32vw;
}

.bottom_about_box .r_what .r_sub_title {
    font-family: "raleway";
    font-size:2.5rem;
    letter-spacing:-.03rem;
    font-weight:500;
    color:#7A8188;
}

.bottom_about_box .r_what .r_sub_title .sub_title_icon img{
    width:3rem;
    vertical-align:bottom;
    margin-left:.8rem;
}

.bottom_about_box .r_what .skills {
    display:flex;
    justify-content: space-between;
    margin-top:4rem;
}

.bottom_about_box .r_what .skills li {
    display:flex;
    align-items:center;
}

.bottom_about_box .r_what .skills li .skill_text {
    font-size:2rem;
    letter-spacing: -.03rem;
    color:#7A8188;
    min-width:11vw;
}

.bottom_about_box .r_what .skills li .skill_ability {
    display:flex;
    gap:1rem;
}

.bottom_about_box .r_what .certificates li{
    font-size:2rem;
    letter-spacing: -.03rem;
    color:#7A8188;
    margin-top:4rem;
} 

.bottom_about_box .r_what .r_what_bottom {
    margin-top:3vw;
}

/* 프로젝트 */

.project_wrap {
    padding-top:9rem;
}


.project_wrap .pin_title {
    position:sticky;
    top:5vw;
    padding:3.5vw 0;
    background: #f9f9f9;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.project_wrap h2 {
    font-family: "raleway";
    font-size:4.3vw;
    font-weight:500;
    letter-spacing:-.2rem;
}

.project_wrap .title_line {
    width:15%;
    height:1px;
    background:#6C7075;
}

.project_wrap .pin_title p {
    font-size:2rem;
    letter-spacing: -.1rem;
    line-height:1.7;
    color:#7A8188;
}

.project_wrap .project_content {
    display: flex;
    gap:6vw;
    padding-bottom:10rem;
}

.project_wrap #project_04.project_content {
    padding-bottom:0;
}

.project_wrap .project_content.sb_con{
    justify-content: space-between;
}

.project_wrap .project_content .project_text h3{
    font-size:4rem;
    letter-spacing: -.17rem;
    font-weight: 500;
    margin-bottom:2.3vw;
}

.project_wrap .project_content .project_text h3 .num{
    font-family: "raleway";
    font-size:5.5rem;
    color:#93C3DE;
    letter-spacing: -.5rem;
    font-weight: 400;
    margin-right:3.2rem;
}

.project_wrap .project_thum {
    position: relative;
}

.project_wrap .project_content .point {
    position:absolute;
    bottom:6%;
    left:5%;
    display:inline-block;
    font-size:2.7rem;
    letter-spacing: -.075rem;
    color:#fff;
    background:#93C3DE;
    border-radius: 2rem;
    padding:1rem 2rem;
}

.project_wrap .project_content .project_text p{
    font-size:2.3rem;
    letter-spacing: -.1rem;
    color:#7A8188;
    line-height: 2.4;
}

.project_wrap .project_content .project_text .text_line{
    margin:0 2rem;
    color:#7A8188;
}

.project_wrap .project_content .project_thum {
    min-width:40vw;
    height:25vw;
    border:1px solid #9199a2;
    border-radius:3.5rem;
    overflow: hidden;
}

.project_wrap .project_content .project_thum .thum{
    width:100%;
    height:100%;
    transition: background-position 3s ease;
    background-position: 0 0;
    background-size: 100% auto;
    overflow: hidden;
    cursor: pointer;
}
  
.project_wrap .project_content .project_thum:hover .thum{
    background-position: 0 100%;
}

.project_wrap .project_content .project_text .project_move {
    padding:1.6rem 3.5rem;
    font-size: 2.3rem;
    letter-spacing: -.1rem;
    border:1px solid #7A8188;
    border-radius: 10rem;
    color:#7A8188;
    display: inline-block;
    margin-top:3rem;
    overflow: hidden;
}

.project_wrap .project_content .project_text .project_move:hover {
    color:#545454;
    border:1px solid #545454;
}

/* 컨택트 */

.contact_wrap {
    padding-top:20rem;
}

.contact_wrap .contact_box_01 {
    display: flex;
    justify-content: space-between;
}

.contact_wrap .contact_box_01 .l_text p{
    font-family: "raleway";
    font-size:5rem;
    letter-spacing:-.1rem;
    line-height: 1.2;
    font-weight: 300;
    margin-top:23rem;
}

.contact_wrap .contact_box_01 .r_text{
    text-align:right;
    font-size: 3.9rem;
    letter-spacing: -.1rem;
    line-height: 1.7;
    font-weight: 100;
}

.contact_wrap .contact_box_01 .r_text a{
    display: inline-block;
    margin-bottom:3rem;
}

.contact_wrap .contact_box_01 a {
    border-bottom:1px solid #545454;
}

.contact_wrap .contact_box_02 .mail_icon {
    display: inline-block;
}

.contact_wrap .contact_box_02 .mail_icon svg {
    width:8vw;
    margin:0 5vw;
}

.contact_wrap .contact_box_02 .end_text {
    display: flex;
    align-items: center;
    font-family: "raleway";
    font-size: 7vw;
    letter-spacing: -.07rem;
    color:#7AB1D1;
    font-weight: 300;
    margin-top:7rem;
}

.contact_wrap .contact_box_02 .contact_arrow svg {
    width:3.5vw;
    margin:0 0 6rem 3rem;
    animation: arrow_move 1s infinite;
    -webkit-animation: arrow_move 1s infinite;
}

footer p {
    font-family: "Raleway";
    font-size:2.4rem;
    line-height: 1.6;
    text-align: center;
    letter-spacing: -.03rem;
    color:#7A8188;
    padding:6vw 5vw 3vw;
}

/* 아이콘 애니메이션 */

.hvr-wobble-horizontal {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.hvr-wobble-horizontal:hover{
    -webkit-animation: hvr-wobble-horizontal 1s ease-in-out infinite;
    animation: hvr-wobble-horizontal 1s ease-in-out infinite;
}


/* 버튼 애니메이션*/

.hvr-rectangle-out {
    -webkit-transform: color 0.3s perspective(1px) translateZ(0);
    transform: color 0.3s perspective(1px) translateZ(0);
    position: relative;
}
  
.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f4f4f4;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.hvr-rectangle-out:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media(max-width: 1500px) {
    html {
        font-size:56%;
    }

    .about_wrap .about_box .l_about{
        padding-right:10rem;
    }

    .about_wrap .about_box .r_about{
        top:-8vw;
    }

    .bottom_about_box {
        gap:10rem;
    }
}

@media(max-width: 1200px) {
    html {
        font-size:52%;
    }

    .about_wrap .about_box .r_about{
        top:0;
    }

    .bottom_about_box .work_table > li a {
        display:none;
    }

    .bottom_about_box .work_table .work_intro {
        flex-basis: 100%;
    }

    .project_wrap .pin_title {
        position: unset;
        padding-bottom: 7vw;
    }

    .project_wrap .title_line {
        width:10%;
    }

    .project_wrap .project_content .project_thum {
        height:30vw;
    }
}

@media(max-width: 950px) {
    html {
        font-size:48%;
    }

    .intro_wrap .intro_title{
        font-size:11vw;
    }

    .about_wrap .about_box {
        display:block;
    }

    .about_wrap .letter_font {
        font-size:7vw;
        margin-bottom:9vw;
    }

    .about_wrap .about_box .l_about{
        padding-right:0;
    }

    .about_wrap .about_box .r_about{
        top:3vw;
        height:35vw;
    }
    
    .bottom_about_box{
        flex-direction:column;
        padding:0;
    }

    .bottom_about_box .r_what .r_what_top {
        width:auto;
        flex-grow:3;
    }

    .bottom_about_box .r_what .r_what_bottom {
        margin-top:0;
        flex-grow:2;
    }

    .bottom_about_box .r_what .skills li .skill_text {
        min-width:16vw;
    }

    .bottom_about_box .work_table {
        order:2;
    }

    .r_what .what_content {
        display:flex;
        gap:10vw;
    }

    .about_wrap .about_box .r_about .about_img01{
        position:absolute;
        top:2vw;
        left:0;
        width:22vw;
    }
    
    .about_wrap .about_box .r_about .about_img02{
        position:absolute;
        top:4vw;
        left:26vw;
        width:19vw;
    }
    
    .about_wrap .about_box .r_about .about_img03{
        display:none;
    }
    
    .about_wrap .about_box .r_about .about_img04{
        position:absolute;
        top:0vw;
        left:48vw;
        width:18vw;
    }
    
    .about_wrap .about_box .r_about .about_img05{
        position:absolute;
        top:4vw;
        right:0;
        width:19vw;
    }

    .project_wrap .pin_title p, .project_wrap .pin_title .title_line{
        display:none;
    }

    
    .project_wrap .project_content .project_text p:nth-child(2) {
        display:none;
    }

    .contact_wrap {
        padding-top:15rem;
    }

    .project_wrap .project_content .project_text h3 {
        font-size:3.3rem;
    }

    .project_wrap .project_content .project_text h3 .num {
        font-size:5rem;
    }

}

@media(max-width: 700px) {

    .intro_wrap {
        padding-top:13rem;
    }

    header nav {
        height:10vw;
    }

    header nav .menu_area ul{
        display:none;
    }

    .intro_wrap .intro_box {
        flex-direction:column;
    }

    .intro_wrap .intro_title {
        font-weight: 400;
        line-height:1;
    }

    .intro_wrap .intro_male_box {
        display:none;
    }

    .about_wrap {
        padding-top:13rem;
    }

    .about_wrap .letter_font {
        font-size:12vw;
    }

    .about_wrap .about_box .l_about p:last-child {
        display:none;
    }

    .about_wrap .about_box .r_about{
        top:2vw;
        height:64vw;
    }

    .about_wrap .about_box .r_about .about_img01 {
        position: absolute;
        top: 2vw;
        left: 4vw;
        width: 36vw;
    }

    .about_wrap .about_box .r_about .about_img02 {
        position: absolute;
        top: -4vw;
        left: 44vw;
        width: 34vw;
        z-index:25;
    }

    .about_wrap .about_box .r_about .about_img04 {
        position: absolute;
        top: 24vw;
        left: 15vw;
        width: 31vw;
    }

    .about_wrap .about_box .r_about .about_img05 {
        position: absolute;
        top: 23vw;
        right: 6vw;
        width: 34vw;
    }
    
    .r_what .what_content{
        flex-direction:column;
    }

    .bottom_about_box .r_what {
        padding-top:9rem;
    }

    .bottom_about_box .r_what .skills li .skill_text {
        min-width:30vw;
    }

    .bottom_about_box .work_table .work_intro {
        margin:3.5rem 2rem;
    }

    .project_wrap .project_content {
        flex-direction:column;
    }

    .project_wrap .project_content .project_text h3 {
        font-size:3rem;
    }

    .project_wrap .project_content .project_text h3 .num {
        font-size:5rem;
    }

    .project_wrap .project_content .project_text p {
        font-size:2rem;
    }

    .project_wrap .project_content .project_text .project_move {
        font-size:2rem;
        margin-top:1rem;
    }

    .project_wrap h2 {
        font-size:8.5vw;
    }

    .project_wrap h3 span{
        display: block;
        margin-bottom:3rem;
    }

    .project_wrap .project_content.sb_con .project_text{
        order:2;
    }

    .project_wrap .project_content.sb_con .project_thum{
        order:1;
    }

    .project_wrap .project_content .project_thum {
        width:100%;
        height:65vw;
    }

    .contact_wrap .contact_box_01 {
        flex-direction: column;
    }

    .contact_wrap .contact_box_01 .l_text {
        order:2;
    }

    .contact_wrap .contact_box_01 .l_text p {
        font-size:4rem;
        margin-top:8rem;
    }

    .contact_wrap .contact_box_02 h1 {
        font-size: 9vw;
        margin-top:3rem;
    }

    .contact_wrap .contact_box_01 .r_text {
        font-size: 3.5rem;
    }

    .contact_wrap .contact_box_02 .mail_icon svg {
        width:10vw;
    }

    .contact_wrap .contact_box_02 .contact_arrow {
        display: none;
    }

    .project_wrap .project_content .project_text h3 .point {
        vertical-align: text-bottom;
        font-size:2.2rem;
        margin:0 0 0 1.5rem;
    }
    
}

@keyframes fill_text {
    0% {
        background-size: 0% 100%;
        transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    }
    100% {
        background-size: 200% 400%;
        transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    }
}

@-webkit-keyframes fill_text {
    0% {
        -webkit-background-size: 0% 100%;
        -webkit-transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    }
    100% {
        -webkit-background-size: 200% 400%;
        -webkit-transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
    }
}

@keyframes line_move{
    0% {
        width:0;
    }
    100% {
        width:100%;
    }
}

@-webkit-keyframes line_move{
    0% {
        width:0;
    }
    100% {
        width:100%;
    }
}

@keyframes rotate_logo{
    0% {
        transform: rotate(0);
    }
	100% {
    	transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate_logo{
    0% {
        -webkit-transform: rotate(0);
    }
	100% {
    	-webkit-transform: rotate(360deg);
    }
}

@keyframes arrow_move{
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(50%,-50%);
    }
    100% {
        transform: translate(0);
    }
}

@-webkit-keyframes arrow_move{
    0% {
        -webkit-transform: translateY(0);
    }
    50% {
        -webkit-transform: translate(30%,-30%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}


@keyframes slideRight {
	0% {
		transform: translateX(100%);
	}
	50%{
		transform: translateX(-6%);
	}		
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(100%);
	}
	50%{
		-webkit-transform: translateX(-6%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

/* Wobble Horizontal */

@-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }